/******************* RESET ***************************/
a {
  text-decoration: none;
  outline: 0;
}
img.responsive {
  max-width: 100%;
}
h1,
h2,
h3 {
  font-family: 'Buda', cursive;
  font-weight: 300;
  margin: 0;
}
h1 {
  font-size: 22px;
}
h2 {
  font-size: 18px;
}
h3,
.h3 {
  font-size: 16px;
}
header {
  height: 110px;
}
/***************** HELPERS ***********************************/
.bck-dark {
  background-color: #4b4b4d;
  color: #fff;
}
.bck-theme {
  background-color: #267c9d;
}
.bck-white {
  background-color: #fff;
}
.bck-white-second {
  background-color: #e6e7e9;
}
.bck-header {
  background: #fff;
  background: -moz-linear-gradient(top, #fff 0%, #d7d8da 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #d7d8da));
  background: -webkit-linear-gradient(top, #fff 0%, #d7d8da 100%);
  background: -o-linear-gradient(top, #fff 0%, #d7d8da 100%);
  background: -ms-linear-gradient(top, #fff 0%, #d7d8da 100%);
  background: linear-gradient(to bottom, #fff 0%, #d7d8da 100%);
}
.bck-body {
  background: #a1b0b3;
  background: -moz-linear-gradient(top, #a1b0b3 0%, #c3cbcd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a1b0b3), color-stop(100%, #c3cbcd));
  background: -webkit-linear-gradient(top, #a1b0b3 0%, #c3cbcd 100%);
  background: -o-linear-gradient(top, #a1b0b3 0%, #c3cbcd 100%);
  background: -ms-linear-gradient(top, #a1b0b3 0%, #c3cbcd 100%);
  background: linear-gradient(to bottom, #a1b0b3 0%, #c3cbcd 100%);
}
.bck-footer {
  background: #267c9d;
  background: -moz-linear-gradient(top, #267c9d 0%, #196587 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #267c9d), color-stop(100%, #196587));
  background: -webkit-linear-gradient(top, #267c9d 0%, #196587 100%);
  background: -o-linear-gradient(top, #267c9d 0%, #196587 100%);
  background: -ms-linear-gradient(top, #267c9d 0%, #196587 100%);
  background: linear-gradient(to bottom, #267c9d 0%, #196587 100%);
}
.bck-nosotros {
  background-image: url("../images/bg-nosotros.jpg");
  height: 276px;
}
.bck-muebleria {
  background-image: url("../images/bg-muebleria.jpg");
  height: 276px;
}
.bck-artesania {
  background-image: url("../images/bg-artesania.jpg");
  height: 276px;
}
.bck-restauracion {
  background-image: url("../images/bg-restauracion.jpg");
  height: 276px;
}
.bck-decoration {
  background-image: url("../images/bg-decoration.jpg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: #e6e7e9;
}
.bck-gray {
  background-color: rgba(0,0,0,0.5);
}
.bck-brown {
  background-color: #64463b;
}
.bck-light-brown {
  background-color: #7b6259;
}
.color-white {
  color: #fff;
}
.color-theme {
  color: #267c9d;
}
.margin-top {
  margin-top: 20px;
}
.margin-bottom {
  margin-bottom: 20px;
}
.margin-bottom-2 {
  margin-bottom: 40px;
}
.margin-top-2 {
  margin-top: 40px;
}
.margin-top-3 {
  margin-top: 60px;
}
.margin-top-4 {
  margin-top: 80px;
}
.margin-top-5 {
  margin-top: 100px;
}
.margin-top-datos {
  margin-top: 300px;
}
.padding {
  padding: 20px;
}
.padding-2 {
  padding: 40px;
}
.padding-top {
  padding-top: 20px;
}
.padding-right {
  padding-right: 20px;
}
.padding-right-2 {
  padding-right: 40px;
}
.padding-right-3 {
  padding-right: 60px;
}
.padding-left {
  padding-left: 20px;
}
.padding-left-2 {
  padding-left: 40px;
}
.padding-left-3 {
  padding-left: 60px;
}
.padding-bottom {
  padding-bottom: 20px;
}
.padding-bottom-2 {
  padding-bottom: 40px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-italic {
  font-style: italic;
}
.text-justify {
  text-align: justify;
}
.text-small {
  font-size: 12px;
}
.box-shadow {
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
}
.fix-float {
  clear: both;
}
/****************** MENUS **********************************/
.nav-social {
  padding: 20px 0 60px 0;
  overflow: hidden;
}
.nav-social a {
  float: left;
  display: block;
  width: 22px;
  height: 22px;
}
.nav-social a:hover img {
  background-position: 0 40px;
}
.nav-social a:first-child {
  margin-left: 10px;
  margin-right: 10px;
}
.nav-main {
  padding: 10px 15px;
  height: 55px;
}
.nav-main.margin-fix {
  margin: 0 20px;
}
.nav-main:before,
.nav-main:after {
  display: table;
  content: "";
}
.nav-main:after {
  clear: both;
}
.nav-main a {
  float: left;
  width: 19%;
  position: relative;
  margin-right: 1%;
  display: block;
  padding: 7px 10px;
  text-align: center;
  background-color: #267c9d;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
}
.nav-main a:first-child {
  margin-left: 0.5%;
}
.nav-main a:last-child {
  margin-right: 0.5%;
}
.nav-main a.link-nosotros {
  background-color: #64463b;
  padding: 25px 0;
}
.nav-main a:hover {
  background-color: #1b576e;
  color: #fff;
}
.nav-main.nav-border-bottom {
  border-bottom: 3px solid #267c9d;
}
.nav-sub >a {
  display: block;
  border-top: 2px dotted #000;
  padding: 5px 0 2px 10px;
  color: #60271e;
}
.padding-link-active {
  padding-top: 5px;
  padding-bottom: 5px;
}
/***************************** CONTAINERS ******************/
.container-main {
  position: relative;
  top: -40px;
}
footer {
  position: relative;
  padding-top: 30px;
}
footer a {
  font-size: 14px;
  color: #fff;
}
.footer-text {
  position: relative;
  top: -20px;
}
.caption {
  position: relative;
  top: -43px;
  padding: 10px 0;
}
/****** Flexibilidad para crear catalogos **/
.catalogo figure:nth-child(1),
.catalogo figure:nth-child(3n+1) {
  padding-left: 40px;
}
.catalogo figure:nth-child(3),
.catalogo figure:nth-child(3n) {
  padding-right: 40px;
}
.catalogo figure:nth-child(3n-1) {
  padding: 0 20px;
}
.catalogo img {
  border: 2px solid #bbbdbf;
}
/************************** formS ******************************/
form.contacto {
  padding: 20px 20px 10px 30px;
  overflow: hidden;
  color: #554f43;
}
form.contacto label {
  display: block;
  text-align: left;
  width: 100%;
  border: none;
}
form.contacto input,
form.contacto textarea {
  display: block;
  width: 100%;
  border: none;
}
form.contacto button {
  float: right;
  color: #fff;
  margin-top: 10px;
  border: none;
  background-color: #267c9d;
  padding: 10px 20px;
  text-align: center;
  border-radius: 2px;
}
.list-proucts {
  padding: 70px 10px 10px 50px;
}
.list-proucts li {
  font-size: 18px;
  margin-top: 5px;
}
.fix-p {
  padding-bottom: 400px;
}
